[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	fa = fetch --all
	rbc = rebase --continue
[user]
	name = Dallas Gutauckis
	email = dallas@gutauckis.com
